<div class="card" style="width: 18rem;">
  <img  class="card-img-top" width="100" <%= image_tag @user.image %>
  <div class="card-body">
    <p><%=@user.name %></p>
    <p><%=@user.lastname %></p>
  </div>
</div>